@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #232531;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 

}
h1,h2,h3{
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 70%);
    background: -o-linear-gradient(left, #c70039, #ff5733 70%);
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 

}
h4{
  color: #c70039;
  font-size: 1.2rem!important;
}
h5{
  color: aliceblue;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


