.backColor {
  background-color: #232531;
  padding: 2%;
}
.division {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.division div {
  align-items: center;
}
.terminal {
  width: 50rem;
  height: 30rem;
  background-color: black;
  border-radius: 20px;
}
.terminalHead {
  background-color: lightgreen;
  width: 50rem;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.terminalHead p {
  color: black;
  margin-left: 20px;
  margin-bottom: 0;
}
.colorLabel {
  color: aliceblue;
  margin-left: 10px;
}
.inputStyle {
  background-color: black;
  color: aliceblue;
  border: none;
}
.inputStyle:hover {
  border: black;
}
.principal {
  text-align: center;
  margin-bottom: 20px;
}
.outputHead {
  color: aliceblue;
}
.outputTerm p {
  margin: 0;
  color: #d83535;
  margin-left: 10px;
}
.buttonStyle {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 1px 2px;
}
.terminalSpace {
  align-items: center;
  margin: auto;
}
.centerStyle {
  text-align: center;
}
