.example {
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
}
.centerPage div {
  margin: auto;
  margin-top: 10px;
  align-items: center;
}
.rightStyle {
  display: flex;
  justify-content: space-around;
}
.colorButton {
  background-color: #b91d49;
  border-color: #b91d49;
  width: 150px;
  height: auto;
}
.colorButton:hover {
  background-color: #b91d49;
  border-color: #b91d49;
}
.colorButton:focus {
  background-color: #b91d49;
  border-color: #b91d49;
  box-shadow: none;
}
.title {
  background-color: #b91d49;
  padding: 5px 10px;
}
.title p {
  color: wheat;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.backColor {
  background-color: #232531;
  padding: 2%;
}
.division {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.divisionTwo {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.division div {
  align-items: center;
}
.terminal {
  width: 50rem;
  height: 25rem;
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgb(34, 29, 29);
}
.terminalLitle {
  width: 30rem;
  height: 10rem;
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgb(34, 29, 29);
}
.buttonTerm {
  background-color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgb(34, 29, 29);
}
.terminalHead {
  background-color: #b91d49;
  width: 50rem;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.terminalHeadLitle {
  background-color: #b91d49;
  width: 30rem;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.terminalHeadLitle p {
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}
.terminalHead p {
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}
.colorLabel {
  color: aliceblue;
  margin-left: 10px;
}
.inputStyle {
  background-color: black;
  color: aliceblue;
  border: none;
  width: 200px;
}
.inputStyle:hover {
  border: black;
}
.inputStyle:active{
  background-color: black;
  color: white;
}
.inputStyle:focus{
  background-color: black;
  color: white;
}
.inputStyle:focus-visible{
  background-color: black;
  color: white;
}
.principal {
  text-align: center;
  margin-bottom: 20px;
}
.outputHead {
  color: aliceblue;
}
.outputTerm p {
  margin: 0;
  color: lightgreen;
  margin-left: 10px;
}
.buttonStyle {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 1px 2px;
}
.terminalSpace {
  align-items: center;
  margin: auto;
}
.centerStyle {
  text-align: center;
}
.backFormContact {
  background-color: #1b1a1a;
  width: 90%;
  margin: auto;
  border-radius: 2rem;
}
.contactForm {
  color: rgb(204, 216, 226);
  padding: 50px;
}

.contactForm {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 0;
  margin-top: auto;
}
.contactForm input {
  background-color: black;
  border-color: black;
  width: 100%;
}
.contactForm textarea {
  background-color: black;
  border-color: black;
  width: 100%;
}
.textareaStyle {
  display: flex;
  justify-content: center;
}
.modalStyle {
  background-color: #232531;
}
.backEducation {
  background-color: #565861;
  border-color: rgb(29, 28, 28);
  padding: auto;
}
.backEducation:focus{
  border-color:#b91d49 ;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
}
.backEducation:hover{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
  border: none;
  border-color:#b91d49 ;
}
.backEducation:active{
  border: none;
  text-decoration: none;
  border-color:#b91d49 ;
}
.backEducation h5 {
  font-size: 1rem;
}

.centerStyle h5 {
  text-align: left;
}

.experienceCard {
  margin: auto;
  width: 90%;
  background-color: #303136;
}
.accordionTitle h4 {
  color: white;
  font-style: italic;
}
.accordionBody{
  display: flex;
}
.accordionBody div{
  margin-left: 50px;
}
.right{
  margin-left: 600px;
}
.educationTerm{
  padding: 20px;
}
.experienceTitle{
  background-color: #b91d49;
  padding: 2px;
  width: 60%;
  margin-left: -30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
}
.experienceTitle p{
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}
/* Responsive*/

@media (max-width: 1100px) {
  .division {
    display: block;
  }
  .terminal {
    width: auto;
    height: 15rem;
    background-color: black;
    border-radius: 20px;
  }
  .terminalHead {
    width: 100%;
    background-color: lightgreen;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .centerStyle {
    text-align: center;
  }
  .centerStyle h5 {
    text-align: center;
  }
  .divisionTwo {
    display: block;
  }
  .terminalLitle {
    width: 30rem;
    height: 10rem;
    margin: auto;
    background-color: black;
    border-radius: 20px;
  }
  .backFormContact {
    background-color: #1b1a1a;
    width: 100%;
    border-radius: 2rem;
    padding: 0;
    margin: auto;
  }
  .contactForm {
    color: rgb(204, 216, 226);
    padding: 20px;
  }
  .contactForm {
    font-size: 1rem;
    margin-right: 20px;
    margin-left: 0;
    margin-top: auto;
  }
  .inputStyle {
    background-color: black;
    color: aliceblue;
    border: none;
    width: 30%;
  }
}
