.backColor {
  background-color: #232531;
  padding: 2%;
}
.division {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.divisionTwo {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.division div {
  align-items: center;
}
.terminal {
  width: 50rem;
  height: 30rem;
  background-color: black;
  border-radius: 20px;
}
.terminalLitle {
  width: 30rem;
  height: 10rem;
  background-color: black;
  border-radius: 20px;
}
.terminalHead {
  background-color: lightgreen;
  width: 50rem;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.terminalHeadLitle {
  background-color: lightgreen;
  width: 30rem;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.terminalHeadLitle p {
  color: black;
  margin-left: 20px;
  margin-bottom: 0;
}
.terminalHead p {
  color: black;
  margin-left: 20px;
  margin-bottom: 0;
}
.colorLabel {
  color: aliceblue;
  margin-left: 10px;
}
.inputStyle {
  background-color: black;
  color: aliceblue;
  border: none;
}
.inputStyle:hover {
  border: black;
}
.principal {
  text-align: center;
  margin-bottom: 20px;
}
.outputHead {
  color: aliceblue;
}
.outputTerm p {
  margin: 0;
  color: #d83535;
  margin-left: 10px;
}
.buttonStyle {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 1px 2px;
}
.terminalSpace {
  align-items: center;
  margin: auto;
}
.centerStyle {
  text-align: center;
}
.backFormContact {
  background-color: #1b1a1a;
  width: 90%;
  margin: auto;
  border-radius: 2rem;
}
.contactForm {
  color: rgb(204, 216, 226);
  padding: 50px;
}

.contactForm {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-left: 0;
  margin-top: auto;
}
.contactForm input {
  background-color: black;
  border-color: black;
  width: 100%;
}
.contactForm textarea {
  background-color: black;
  border-color: black;
  width: 100%;
}
.textareaStyle {
  display: flex;
  justify-content: center;
}
.modalStyle {
  background-color: #232531;
}
.backEducation {
  background-color: #232531;
  border-color: rgb(29, 28, 28);
  padding: auto;
}
.backEducation h5 {
  font-size: 1rem;
}

.centerStyle h5{
  text-align: left;
}
/* Responsive*/

@media (max-width: 1100px) {
  .division{
    display: block;
  }
  .terminal {
    width: auto;
    height: 15rem;
    background-color: black;
    border-radius: 20px;
  }
  .terminalHead {
    width: 100%;
    background-color: lightgreen;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .centerStyle {
    text-align: center;
  }
  .centerStyle h5{
    text-align: center;
  }
  .divisionTwo {
    display: block;
  }
  .terminalLitle {
    width: 30rem;
    height: 10rem;
    margin: auto;
    background-color: black;
    border-radius: 20px;
  }
}